#loginButton {
    background-color: rgba(30, 152, 215, 1);
}

#logoutButton {
    background-color: red;
}

.connect-state-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
